streamlit
streamlit-elements
langchain
langchain_openai
langchain-core
langchain-community
langchain-chroma
chromadb
requests
wikipedia
duckduckgo-search

pyswisseph==2.10.3.2
skyfield==1.48
matplotlib