streamlit
streamlit-elements
langchain
langchain-core
langchain-community
langchain-chroma
langchain-openai
chromadb
requests
wikipedia
numpy
sentence-transformers

pyswisseph==2.10.3.2
skyfield==1.48
matplotlib